<% f.object.errors.full_messages.each do |error_message| %>
  <%= error_message %>
<% end %>

<div class="mb-3">
  <%= f.label :title %>
  <%= f.text_field :title, required: true, class: 'form-control', placeholder: 'Book title' %>
</div>

<div class="mb-3">
  <%= f.label :author %>
  <%= f.text_field :author, required: true, class: 'form-control', placeholder: 'Book author' %>
</div>

<div class="mb-3">
  <%= f.label :language %>
  <%= f.select :language, Language.pluck(:name), { prompt: 'Select book language' },  required: true, class: 'form-control' %>
</div>

<div class="mb-3">
  <%= f.label :genre_id %>
  <%= f.select :genre_id, Genre.pluck(:name, :id), { prompt: 'Select book genre' },  required: true, class: 'form-control' %>
</div>

<div class="mb-3">
  <%= f.label :description %>
  <%= f.text_area :description, required: true, class: 'form-control', placeholder: 'Book description', rows: 4 %>
</div>

<div class="mt-10">
  <label for="file-upload" class="custom-file-upload" id="file-upload-label">
    <i class="fa fa-cloud-upload"></i> Choose book cover
  </label>
  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
</div>

<div class="mt-10">
  <small>* Your book needs to be approved by Zajel moderators after submission </small>
</div>

<div class="mt-10">
  <%= f.submit 'Submit', class: 'genric-btn primary circle arrow' %>
</div>