<div class="card-body nested-fields">
  <div class="form-group">
    <%= f.label 'Locale' %>
    <%= f.select :locale, [:en, :ar], {}, class: 'form-control' %>
    <br/>
    <%= f.label 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= link_to_remove_association "remove translation", f %>
</div>
