<div class="loginArea section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 p-0 loginLeft-img">
        <div class="loginLeft-img">
          <div class="login-cap">
            <h3 class="tittle">Borrow & Lend books</h3>
            <p class="pera">secondary text goes here.</p>
          </div>
          <div class="login-img">
            <img src="assets/img/gallery/login.png" alt="img" class="loginImg">
          </div>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'col-xl-7 col-lg-7 login-Wrapper' }) do |f| %>
        <%= render "web/users/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <label class="infoTitle">First Name</label>
            <div class="input-form input-form2">
              <%= f.text_field :first_name, autocomplete: "First Name", class: 'form-control', placeholder: 'First name', required: true %>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <label class="infoTitle">Last Name</label>
            <div class="input-form input-form2">
              <%= f.text_field :last_name, autocomplete: "Last Name", class: 'form-control', placeholder: 'Last name', required: true %>
            </div>
          </div>
          <div class="col-md-12">
            <label class="infoTitle">Email</label>
            <div class="input-form input-form2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email address', required: true %>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <label class="infoTitle">Password</label>
            <div class="input-form">
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password', required: true, minlength: 8 %>
              <div class="icon"><i class="las la-lock icon"></i></div>
              <p>Password must be minimum 8 characters</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <label class="infoTitle">Confirm Password</label>
            <div class="input-form">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password confirmation', required: true %>
              <div class="icon"><i class="las la-lock icon"></i></div>
              <p>Password must be minimum 8 characters</p>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label class="infoTitle">Phone Number</label>
            <div class="input-form input-form2">
              <%= f.phone_field :phone_number, autocomplete: "Phone Number", class: 'form-control', placeholder: 'Phone number', required: true %>
            </div>
          </div>

          <div class="col-md-12">
            <label class="infoTitle">Birth Date</label>
            <div class="input-form input-form2">
              <%= f.date_field :birth_date, class: 'form-control', required: true, max: Date.current - 18.years %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="btn-wrapper text-center mt-50">
              <%= f.submit 'Register', class: 'cmn-btn4 w-100 mb-60' %>

              <p class="sinUp"><span>Already have an account? </span><%= link_to "Log in", new_user_session_path, class: 'singApp' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
