<div>
  <div class="bradcam_area bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100 mb-30 mt-30">
    <div class="row justify-content-center h-100">
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <%= conversation_header(@book_activity) %>
            </div>
          </div>
          <div id="list" class="card-body msg_card_body">
            <%= turbo_frame_tag "page_handler" %>
            <%= render "pager", pagy: @pagy %>
            <% @messages.each do |message| %>
              <%= render 'web/messages/message', content: message.content, created_at: message.created_at, sender_id: message.sender_id %>
            <% end %>
          </div>

          <div class="card-footer">
            <%= form_for Message.new, url: conversation_messages_path(@conversation), data: { controller: "clear-message-box", action: "turbo:submit-end->clear-message-box#clear" } do |f| %>
              <div class="input-group">
                <%= f.text_field :content, class: 'form-control type_msg', id: 'message_box', placeholder: 'Type your message...', required: true, data: { 'clear-message-box-target': 'messageBox' } %>
                <div class="input-group-append">
                  <button class="input-group-text send_btn" type="submit"><i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .card{
        height: 800px;
        border-radius: 15px !important;
        background-color: rgb(47, 65, 83) !important;
    }
    .msg_card_body{
        overflow-y: auto;
        background-image: url(<%= asset_path('image.png') %>);
    }
    .card-header{
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }
    .card-footer{
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }
    .container{
        align-content: center;
    }

    .type_msg{
        background-color: rgba(0,0,0,0.3) !important;
        border:0 !important;
        color:white !important;
        height: 60px !important;
        overflow-y: auto;
    }
    .type_msg:focus{
        box-shadow:none !important;
        outline:0px !important;
    }

    .send_btn{
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border:0 !important;
        color: white !important;
        cursor: pointer;
    }

    .contacts li{
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

    .img_cont_msg{
        height: 40px;
        width: 40px;
    }

    .user_info{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
    .user_info span{
        font-size: 20px;
        color: white;
    }
    .user_info p{
        font-size: 15px;
        color: rgba(255,255,255,0.6);
    }

    .video_cam span{
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    .msg_cotainer{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: #82ccdd;
        padding: 15px;
        min-width: 150px;
        position: relative;
    }
    .msg_cotainer_send{
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 25px;
        background-color: #78e08f;
        padding: 15px;
        min-width: 150px;
        position: relative;
    }
    .msg_time{
        position: absolute;
        left: 0px;
        bottom: -18px;
        color: #333333;
        font-size: 13px;
        float: left;
    }
    .msg_time_send{
        position: absolute;
        right: 0px;
        bottom: -18px;
        color: #333333;
        font-size: 13px;
        float: right;
    }
    .msg_head{
        position: relative;
    }
    .action_menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .action_menu ul li{
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
    }
    .action_menu ul li i{
        padding-right: 10px;

    }
    .action_menu ul li:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
    }
    @media(max-width: 576px){
        .contacts_card{
            margin-bottom: 15px !important;
        }
    }
</style>