<div class="loginArea section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 p-0 loginLeft-img">
        <div class="loginLeft-img">
          <div class="login-cap">
            <h3 class="tittle">Borrow & Lend books</h3>
            <p class="pera">secondary text goes here.</p>
          </div>
          <div class="login-img">
            <img src="assets/img/gallery/login.png" alt="img" class="loginImg">
          </div>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'col-xl-7 col-lg-7 login-Wrapper' }) do |f| %>
        <%= render "web/users/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-12">
            <label class="infoTitle">Email</label>
            <div class="input-form">
              <%= f.email_field :email, autofocus: true, placeholder: 'Enter your Email', autocomplete: "Email", id: 'inputEmail', class: 'form-control', required: true %>
              <div class="icon"><i class="lar la-envelope icon"></i></div>
            </div>
          </div>

          <div class="col-md-12">
            <label class="infoTitle">Password</label>
            <div class="input-form">
              <%= f.password_field :password, placeholder: 'Enter your password', autocomplete: "current-password", id: 'inputPassword', class: 'form-control', required: true %>
              <div class="icon"><i class="las la-lock icon"></i></div>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="col-sm-12">
              <div class="passRemember mt-20">
                <%= label_tag '', class: 'checkWrap2' do %>
                  Remember me
                  <%= check_box_tag :remember_me, '', false, class: 'effectBorder' %>
                  <span class="checkmark"></span>
                <% end %>

                <div class="forgetPassword mb-25">
                  <%= link_to 'Forgot your password?', new_user_password_path, class: 'forgetPass' %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="col-sm-12">
            <div class="btn-wrapper text-center">
              <%= f.submit 'Log in', class: 'cmn-btn4 w-100 mb-60' %>
              <p class="sinUp"><span>Don’t have an account? </span><%= link_to "Sign up!", new_user_registration_path, class: 'singApp' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
