<!DOCTYPE html>
<html class=" ">
  <head>
    <title>Zajel Control</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application_admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application_admin", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="hold-transition layout-top-nav">
    <div class="wrapper">
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <%= link_to admins_root_path, class: 'navbar-brand' do %>
          <%= image_tag 'admin-logo.png', class: 'brand-image img-circle elevation-3' %>
          <span class="brand-text font-weight-light">AdminPanel</span>
        <% end %>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", admins_root_path, class: 'nav-link' %>
            </li>

            <li class="nav-item dropdown">
              <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Actions</a>
              <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                <li><%= link_to "Books", admins_books_path, class: 'dropdown-item' %>
                <li><%= link_to "New Books", admins_books_path(type: 'new'), class: 'dropdown-item' %></li>
                <li><%= link_to "Book Activities", admins_book_activities_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Users", admins_users_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Requests", admins_requests_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Languages", admins_languages_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Genres", admins_genres_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
          </div>
        </div>
      </div>

      <!-- Main content -->
      <%= yield %>
      <!-- /.content -->
    </div>
  </div>
  </body>
</html>
