<div>
  <div class="bradcam_area bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whole-wrap">
    <div class="container box_1170">
      <div class="section-top-border">
        <div class="row">
          <% if @lend_requests.size.eql?(0) %>
            <div class="offset-3 col-6 mt-5 text-center" style="height: 300px">
              <h3>No received requests</h3>
              <%= link_to "Add new book", new_book_path, class: 'mt-4 genric-btn primary circle arrow' %>
            </div>
          <% else %>
            <div class="offset-3 col-6 mt-5 text-center" style="height: 300px">
              <h3>Lend Requests</h3>
              <%= link_to "Explore nearby books", books_path, class: 'mt-4 genric-btn primary circle arrow' %>
            </div>
            <% @lend_requests.each do |request| %>
              <div class="offset-sm-3 col-sm-9 offset-md-2 col-md-8 col-12">
                <div class="row">
                  <div class="col-sm-3 col-3">
                    <div class="mb-20 text-center">
                      <%= image_tag request.book.image.variant(format: :webp, convert: :webp), class: 'img-fluid mb-3' %>
                      <%= lend_request_status(request.status) %>
                    </div>
                  </div>
                  <div class="col-9">
                    <h3><%= link_to request.book.title, by_friendly_id_books_path(request.book.friendly_id) %></h3>
                    <p><b><%= request.borrower.full_name %></b> requested your book <%= time_ago_in_words(request.created_at) %></p>

                    <div class="text-center">
                      <% if request.pending? %>
                        <%= link_to "Accept", book_activity_path(request, type: 'accept'), data: { turbo_method: :put }, class: 'm-2 genric-btn success circle' %>
                        <%= link_to "Reject", book_activity_path(request, type: 'reject'), data: { turbo_method: :put }, class: 'm-2 genric-btn primary circle' %>
                      <% elsif request.accepted? %>
                        <%= link_to 'Go to Conversation', conversation_messages_path(request.conversation_id), class: 'genric-btn info circle' %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
