<!DOCTYPE html>
<html class=" ">
  <head>
    <title>Zajel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div data-controller="geolocation">
      <%= render 'layouts/web/header' %>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <%= t('.location_request_text') %>
          </div>
        </div>
      </div>

      <%= yield %>
      <%= render 'layouts/web/footer' %>
    </div>
  </body>
</html>
