<div>
  <div class="bradcam_area bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
    <%= render "web/users/shared/error_messages", resource: resource %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", id: 'inputPassword', required: true, class: 'form-control', minlength: 8 %>

    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: 'form-control', minlength: 8 %>

    <div class="text-center">
      <%= f.submit "Change my password", class: 'genric-btn primary circle btn-block text-center mb-3' %>
    </div>

  <% end %>
</div>

<style scoped>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 14px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-signin input[type="checkbox"] {
        display: none;
    }

    span {
        font-size: .9em;
        color: #f22435;
    }

</style>
