<div>
  <div class="bradcam_area bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="explorer_europe list_wrap">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h3 class="exp_title text-center">We have found <%= @books.count %> books</h3>
          <%= form_for my_books_path, method: :get do %>
            <div class="mb-3">
              <%= text_field_tag :query, nil, placeholder: 'Search...', class: 'form-control' %>
            </div>
            <div class="mt-10">
              <%= submit_tag 'Search', class: 'genric-btn primary circle arrow' %>
            </div>
          <% end %>

          <div class="col-xl-12 page_nation text-center">
            <%== pagy_bootstrap_nav(@pagy) %>
          </div>
          <div class="row">
            <% @books.each do |book| %>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <%= link_to by_friendly_id_books_path(book.friendly_id) do %>
                  <div class="single_explorer">
                    <div class="thumb">
                      <%= image_tag book.image %>
                    </div>
                    <div class="explorer_bottom d-flex">
                      <div class="explorer_info">
                        <div id="book-title"><%= book.title %></div>
                        <p><%= book.genre.name %></p>
                        <%= book_status(book) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
