<div class="container">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Books list</h3>
        <div class="card-tools">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 20rem">title</th>
            <th>owner</th>
            <th>Approval</th>
            <th>Status</th>
            <th>Added at</th>
          </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= book.id %></td>
                <td><%= link_to book.title, admins_book_path(book.id) %></td>
                <td><%= book.owner.full_name %></td>
                <td><%= book_approval_status_badge(book) %></td>
                <td><%= book_availability_badge(book) %></td>
                <td><%= book.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <paginate
          :page-count="this.metadata.total_pages || 1"
          :click-handler="paginateCallback"
          containerClass="pagination pagination-sm m-0 float-right"
          page-class="page-item"
          page-link-class="page-link"
          prev-link-class="page-link"
          next-link-class="page-link"
          v-if="this.metadata.count">
        </paginate>
      </div>

    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
